* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
*::selection{
    color: #fff;
    background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  min-height: 100vh;
  /* background-color: aqua; */
  position: relative;
  padding: 0 1.5vw;
  padding-top: 18vh;
}
#page1 h1 {
  font-size: 15.4vw;
  text-transform: uppercase;
  font-family: "futura";
  line-height: 14vw;
  letter-spacing: -5px;
}
#video-container {
  height: 100vh;
  width: 100%;
  /* background-color: grey; */
  margin-top: 1vw;
  position: relative;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play {
  padding: 3vw 2.3vw;
  background-color: black;
  color: #fff;
  font-size: 1.5vw;
  font-family: futura;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
#page2{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}
#page2 .elem{
  height: 100%;
  width: 32%;
  background-color: red;
  overflow: hidden;
  
}
#page2 .elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.25;
}
#page3{
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
}